
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>GazBolt • Compiler Explorer</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/theme/dracula.min.css"/>
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/javascript/javascript.min.js"></script>
  <script src="https://unpkg.com/htmx.org"></script>
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script> 
  <script src="/static/client.js"></script> 
</head>
<body>
  <header>
    <nav>
      <img src="/static/gazprea-logo-solana.png" width="40px"></img>
      <h1>GazBolt</h1>
    </nav>
  </header>

  <div class="main-wrapper">
    <div id="settings" class="container">

      <label for="stdin-checkbox">Standard Input</label>
      <input
	type="checkbox"
	class="checkbox"
	id="stdin-checkbox"
	onclick="document.getElementById('textarea-stdin').classList.toggle('hidden')"
      />
      <label for="compiler-flags-checkbox">Compiler Flags</label>
      <input
	type="checkbox"
	class="checkbox"
	id="compiler-flags-checkbox"
	onclick="document.getElementById('textarea-compiler-flags').classList.toggle('hidden')"
      />
      <select
	id="compiler"
	class="dropdown"
	name="compiler"
	hx-get="/compiler-options"
	hx-target="#compiler"
	hx-trigger="load"
	hx-on="change: setCompiler(this.value)"
      > 
    </div>
    
    <!-- Main container -->
    <div id="main-container">
      <!-- Left: CodeMirror editor -->
      <div id="left">	
        <div id="editor" class="container">
	  <div id="editor-options">

	    <select
	      id="dropdown-program"
	      name="compiler"
	      class="dropdown"
	      hx-vals="js:{cc: getState().getCompiler()}"
	      hx-get="/program-defaults"
	      hx-target="#dropdown-program"
	      hx-trigger="load"
	      hx-on="change: setEditorText(this.value)"
	    >
	    </select>
	    <select id="dropdown-font" name="choices" class="dropdown">
		<option value="16px">16px</option>
		<option value="18px" disabled selected>18px</option>
		<option value="20px">20px</option>
		<option value="22px">22px</option>
		<option value="24px">24px</option>
		<option value="26px">26px</option>
	    </select>
	    <button
	      id="clear-button"
	      class="button"
	    >Clear
	    </button>
	    <button
	      id="clear-button"
	      class="button"
	      hx-on="click: getState().run()"
	    >Run
	    </button>
	    <textarea
	      id="textarea-compiler-flags"
	      class="hidden"
	      rows="1"
	      placeholder="Compiler Flags"
	    ></textarea>
	  </div> 
	  <div id="editor-body"
	  > <!-- CodeMirror is injected here at runtime --> </div> 
	</div>
      </div>

      <!-- Right: Output textareas -->
      <div id="right">
        <textarea
          id="textarea-stdin"
	  class="container hidden"
          rows="4"
          placeholder="Standard Input..."
        ></textarea>
	<textarea
          id="output-textarea"
	  class="container"
          rows="4"
          readonly
          placeholder="Stdout will appear here..."
        ></textarea>
        <textarea
          id="output-stderr"
          class="container"
	  rows="4"
          readonly
          placeholder="Stderr will appear here..."
        ></textarea>
      </div>
    </div>
  </div>

  <footer>
    <p>© 2025 GazBolt</p>
  </footer>

  <!-- Initialize CodeMirror -->
  <script>
     editor = CodeMirror(document.getElementById('editor'), {
      mode: 'javascript',
      theme: 'dracula',
      lineNumbers: true,
      autoCloseBrackets: true,
      matchBrackets: true,
    });
  </script>
</body>
</html>

